@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Jura:wght@300;400;500;600;700&family=Lobster&family=Merriweather:wght@300;400;700&family=Mulish:wght@500;600;700;800&family=Poppins:wght@300;400;500&family=Red+Rose:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.nav-item{
    font-family: "Poppins";
    font-size: 14px;
}
nav{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 14px 10px 10px 10px;
}
.nav_bx1{
 width: auto;
 height: auto;
 display: flex;
 align-items: center;
}

.tab-content{
    /* border: 1px solid  red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 18px;
    height: 76vh;
}
.tab-pane{
    /* border: 1px solid  black; */
    width: 600px;
}
label{
    margin-top: 17px;
    font-family: "Poppins";
    font-size: 15px;
}
.tab-pane form  input{
    width: 100%;
    margin-top: 6px;
    font-family: "Poppins";
    font-size: 15px;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 7px;
    height: 43px;
}
.tab-pane form select{
    height: 43px;
    width: 100%;
    margin-top: 10px;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 7px;
    font-family: "Poppins";
    /* margin-top: 10px; */
}
.mdl-selectfield{
    /* margin-top: 10px; */
    padding-bottom: 20px;
}
.submit{
    margin-top: 10px;
    font-family: "Poppins";
    background-color: black;
    border: 1px solid black;
    color: white;
    width: 100%;
    border-radius: 9px;
    height: 43px;
}

#check_before_submit{
    font-family: "Poppins";
}
.radio{
    height: auto;
    /* border: 1px solid  red; */
    padding-bottom: 17px;
    font-family: "Poppins";
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ls{
   padding-left: 10px;
}
.radio-1{
    width: 14px !important;
    height: 14px !important;
}
.radio_container{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 531px){
    .radio{
        display: block;
    }
    .radio_container{
        padding-top: 10px;
    }
    .submit{
        font-size: 14px;
    }
    label{
        font-size: 14px !important;
    }
    .radio{
        font-size: 14px;
    }
    .ls {
        font-size: 14px;
    }
    .tab-pane form  input{
      font-size: 14px;
    }
    .tab-pane form select{
      font-size: 14px;
    }
    .nav-item{
        font-size: 13px;
    }
}